@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: 'Lorida';
  font-style: normal;
  font-weight: normal;
  src: local('Lorida'), url('/assets/TTF/Lorida.ttf') format('truetype');
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #bfd0b7;
}

.btn {
  border-radius: 20px;
  background-color: #21531a;
  color: white;
  margin-right: 15px;
}

.card-body {
  background-color: #d7e3d2;
}

.navbar {
  background-color: beige;
}

h1 {
  font-family: "Lorida", sans-serif;
  font-size: 10em;
}

.card-img-top {
  height: 200px;
  width: 100%;
}

#loading-indicator {
  margin-bottom: 25px;
}

#footer1{
  background-color: beige;
}

#footer2{
  background-color: #c4c4ab;
}

footer a {
  text-decoration: none;
}